In [1]:
# Diferentes formas de crear listas
frutas=["manzana", "pera", "uva", "naranja"]
numeros=[1,2,3,4,5]
mixta=["Python", 25, True, 3.14]
vacia=[]

print("Lista de frutas:", frutas)
print("Lista de numeros:",numeros)
print("Lista mixta:", mixta)

Lista de frutas: ['manzana', 'pera', 'uva', 'naranja']
Lista de numeros: [1, 2, 3, 4, 5]
Lista mixta: ['Python', 25, True, 3.14]

In [3]:
# ¡Las listas pueden contener CUALQUIER tipo de dato!
estudiantes=["Bruno","Ana", "Carlos"]
edades=[20,22,19]
activos=[True, True, False]

In [5]:
#Indices
colores=["rojo", "verde", "azul","amarillo", "morado"]

print("Primer color:",colores[0])
print("Segundo color:",colores[1])
print("Ultimo color:",colores[4])

#indices negativos
print("Ultimo color:",colores[-1])
print("Penultimo color:",colores[-2])

Primer color: rojo
Segundo color: verde
Ultimo color: morado
Ultimo color: morado
Penultimo color: amarillo

In [7]:
#slicing

numeros=[0,1,2,3,4,5,6,7,8,9]

print("Primeros 5:",numeros[0:5])
print("Desde el 3:",numeros[3:])
print("Hasta el 7:",numeros[:7])
print("De 2 en 2:",numeros[::2])
print("Al reves:",numeros[::-1])

Primeros 5: [0, 1, 2, 3, 4]
Desde el 3: [3, 4, 5, 6, 7, 8, 9]
Hasta el 7: [0, 1, 2, 3, 4, 5, 6]
De 2 en 2: [0, 2, 4, 6, 8]
Al reves: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [9]:
#Ejemplo practico-obtener calificaciones de un trimestre
calificaciones=[85,90,78,92,88,76,94,89,91,87]

primer_mes=calificaciones[0:3]

#primeras 3 califs
ultimo_mes=calificaciones[-3]

#ultimas 3 califs
print("Primer mes:",primer_mes)
print("Ultimo mes:",ultimo_mes)

Primer mes: [85, 90, 78]
Ultimo mes: 89

In [17]:
#tuplas
coordenadas=(10,20)
colores_rgb=(255,128,0)
estudiante=("Ana Garcia",20,"Ingenieria")

print("Coordenadas:",coordenadas)
print("Color RGB:",colores_rgb)
print("Estudiante:",estudiante)

estudiante=("Ana Garcia",20,"Ingenieria")
print("Nombre Estudiante:",estudiante[0])

Coordenadas: (10, 20)
Color RGB: (255, 128, 0)
Estudiante: ('Ana Garcia', 20, 'Ingenieria')
Nombre Estudiante: Ana Garcia

In [19]:
# Tupla de un solo elemento necesita coma
un_elemento = (42,)  # Sin la coma sería solo paréntesis
print("Un elemento:", un_elemento)

Un elemento: (42,)

In [21]:
# ✅ Usar LISTAS cuando los datos pueden cambiar

lista_compras=["leche", "pan","huevos"]
lista_compras.append("queso")

In [23]:
# ✅ Usar TUPLAS para datos fijos/constantes
fecha_nacimiento=(15,8,1955)
dimensiones_pantalla=(1920,1080)

In [25]:
#Ejemplo-Directorio de empleados

empleados=[("Ana Garcia","Desarrolladora",45000),("Bruno Lopez","Diseñador",40000),("Carlos Ruiz","Manager",55000)]
print("DIRECTORIO DE EMPLEADOS")

for empleado in empleados:
    
    nombre, puesto, salario = empleado  # Desempaquetado de tupla
    print(f"Nombre: {nombre}")
    print(f"Puesto: {puesto}")
    print(f"Salario: ${salario:,}")
    print("-" * 30)

DIRECTORIO DE EMPLEADOS
Nombre: Ana Garcia
Puesto: Desarrolladora
Salario: $45,000
------------------------------
Nombre: Bruno Lopez
Puesto: Diseñador
Salario: $40,000
------------------------------
Nombre: Carlos Ruiz
Puesto: Manager
Salario: $55,000
------------------------------