In [12]:
import pandas as pd

#Serie
edades=pd.Series([25,30,35,40],index=['Ana','Juan','Carlos','Diana'])
print(edades)

#Dataframe
estudiantes=pd.DataFrame({'nombre':['Ana','Juan','Carlos','Diana'],'edad':[25,30,35,40],'nota':[85,92,78,96],'ciudad':['Madrid','Santo Domingo','Santiago','Valencia']})
print(estudiantes)

Ana       25
Juan      30
Carlos    35
Diana     40
dtype: int64
   nombre  edad  nota         ciudad
0     Ana    25    85         Madrid
1    Juan    30    92  Santo Domingo
2  Carlos    35    78       Santiago
3   Diana    40    96       Valencia

In [14]:
df=pd.read_csv('ventas_2024.csv')
print(df.head())

    fecha datetime  tipo              tarjeta  monto      tipo_cafe
0  1/3/24  15:50.5  card  ANON-0000-0000-0001   38.7          Latte
1  1/3/24  19:22.5  card  ANON-0000-0000-0002   38.7  Hot Chocolate
2  1/3/24  20:18.1  card  ANON-0000-0000-0002   38.7  Hot Chocolate
3  1/3/24  46:33.0  card  ANON-0000-0000-0003   28.9      Americano
4  1/3/24  48:14.6  card  ANON-0000-0000-0004   38.7          Latte

In [16]:
print(df.tail())

        fecha datetime  tipo              tarjeta  monto   tipo_cafe
3631  23/3/25  34:54.9  card  ANON-0000-0000-1158  35.76  Cappuccino
3632  23/3/25  43:37.4  card  ANON-0000-0000-1315  35.76       Cocoa
3633  23/3/25  44:16.9  card  ANON-0000-0000-1315  35.76       Cocoa
3634  23/3/25  47:28.7  card  ANON-0000-0000-1316  25.96   Americano
3635  23/3/25  11:38.6  card  ANON-0000-0000-1275  35.76       Latte

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3636 entries, 0 to 3635
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fecha      3636 non-null   object
 1   datetime   3636 non-null   object
 2   tipo       3636 non-null   object
 3   tarjeta    3547 non-null   object
 4   monto      3636 non-null   float64
 5   tipo_cafe  3636 non-null   object
dtypes: float64(1), object(5)
memory usage: 170.6+ KB
None

In [20]:
print(df.describe())

             monto
count  3636.000000
mean     31.746859
std       4.919926
min      18.120000
25%      27.920000
50%      32.820000
75%      35.760000
max      40.000000

In [24]:
#seleccion de datos
print(df['tipo_cafe'])

0               Latte
1       Hot Chocolate
2       Hot Chocolate
3           Americano
4               Latte
            ...
3631       Cappuccino
3632            Cocoa
3633            Cocoa
3634        Americano
3635            Latte
Name: tipo_cafe, Length: 3636, dtype: object

In [26]:
#dos columnas
print(df[['tipo_cafe','monto']])

          tipo_cafe  monto
0             Latte  38.70
1     Hot Chocolate  38.70
2     Hot Chocolate  38.70
3         Americano  28.90
4             Latte  38.70
...             ...    ...
3631     Cappuccino  35.76
3632          Cocoa  35.76
3633          Cocoa  35.76
3634      Americano  25.96
3635          Latte  35.76

[3636 rows x 2 columns]

In [28]:
#Filtros
print(df[df['monto']>30])

        fecha datetime  tipo              tarjeta  monto            tipo_cafe
0      1/3/24  15:50.5  card  ANON-0000-0000-0001  38.70                Latte
1      1/3/24  19:22.5  card  ANON-0000-0000-0002  38.70        Hot Chocolate
2      1/3/24  20:18.1  card  ANON-0000-0000-0002  38.70        Hot Chocolate
4      1/3/24  48:14.6  card  ANON-0000-0000-0004  38.70                Latte
5      1/3/24  39:47.7  card  ANON-0000-0000-0005  33.80  Americano with Milk
...       ...      ...   ...                  ...    ...                  ...
3630  23/3/25  07:11.3  card  ANON-0000-0000-1196  35.76                Latte
3631  23/3/25  34:54.9  card  ANON-0000-0000-1158  35.76           Cappuccino
3632  23/3/25  43:37.4  card  ANON-0000-0000-1315  35.76                Cocoa
3633  23/3/25  44:16.9  card  ANON-0000-0000-1315  35.76                Cocoa
3635  23/3/25  11:38.6  card  ANON-0000-0000-1275  35.76                Latte

[2410 rows x 6 columns]

In [30]:
#Agregar columnas
df['monto_con_itbis']=df['monto']*1.18
df['alto_costo']=df['monto']>=35
print(df.head())

    fecha datetime  tipo              tarjeta  monto      tipo_cafe  \
0  1/3/24  15:50.5  card  ANON-0000-0000-0001   38.7          Latte
1  1/3/24  19:22.5  card  ANON-0000-0000-0002   38.7  Hot Chocolate
2  1/3/24  20:18.1  card  ANON-0000-0000-0002   38.7  Hot Chocolate
3  1/3/24  46:33.0  card  ANON-0000-0000-0003   28.9      Americano
4  1/3/24  48:14.6  card  ANON-0000-0000-0004   38.7          Latte

   monto_con_itbis  alto_costo
0            6.966        True
1            6.966        True
2            6.966        True
3            5.202       False
4            6.966        True

In [32]:
#Ordenamiento 
print(df.sort_values('monto',ascending=False))

        fecha datetime  tipo              tarjeta  monto      tipo_cafe  \
60     9/3/24  49:37.3  cash                  NaN  40.00  Hot Chocolate
117   15/3/24  02:16.5  cash                  NaN  40.00          Latte
126   17/3/24  10:21.4  cash                  NaN  40.00          Latte
225    4/4/24  42:07.7  cash                  NaN  40.00          Latte
264   10/4/24  55:07.0  cash                  NaN  40.00  Hot Chocolate
...       ...      ...   ...                  ...    ...            ...
1487   7/9/24  20:57.1  card  ANON-0000-0000-0012  18.12       Espresso
1237  11/8/24  28:38.3  card  ANON-0000-0000-0485  18.12       Espresso
1024  24/7/24  54:37.5  card  ANON-0000-0000-0402  18.12       Espresso
1027  24/7/24  45:49.8  card  ANON-0000-0000-0012  18.12       Espresso
1041  25/7/24  06:50.0  card  ANON-0000-0000-0404  18.12       Espresso

      monto_con_itbis  alto_costo
60             7.2000        True
117            7.2000        True
126            7.2000        True
225            7.2000        True
264            7.2000        True
...               ...         ...
1487           3.2616       False
1237           3.2616       False
1024           3.2616       False
1027           3.2616       False
1041           3.2616       False

[3636 rows x 8 columns]

In [34]:
#Valores unicos
print(df['tipo_cafe'].unique())
print(df['tipo_cafe'].value_counts())

['Latte' 'Hot Chocolate' 'Americano' 'Americano with Milk' 'Cocoa'
 'Cortado' 'Espresso' 'Cappuccino']
tipo_cafe
Americano with Milk    824
Latte                  782
Americano              578
Cappuccino             501
Cortado                292
Hot Chocolate          282
Cocoa                  243
Espresso               134
Name: count, dtype: int64

In [50]:
#Datos con problemas comunes 

datos_sucios = pd.DataFrame({ 'nombre': ['Ana', 'Bob', None, 'Diana'], 'edad': [25, '30', 35, 40], 'salario': ['50000', '60000', 'N/A', '70000'] })

In [52]:
#Limpieza paso a paso
#Identificar falencias
print(datos_sucios.isnull().sum())
print(datos_sucios.info())

nombre     1
edad       0
salario    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nombre   3 non-null      object
 1   edad     4 non-null      object
 2   salario  4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes
None

In [54]:
#2. limpiar tipos de datos
datos_sucios['edad']=pd.to_numeric(datos_sucios['edad'],errors='coerce')
datos_sucios['salario']=pd.to_numeric(datos_sucios['salario'],errors='coerce')

In [56]:
#3Manejar valores faltantes
datos_limpios=datos_sucios.dropna()
datos_limpios=datos_sucios.fillna(0)
print(datos_limpios)

  nombre  edad  salario
0    Ana    25  50000.0
1    Bob    30  60000.0
2      0    35      0.0
3  Diana    40  70000.0

In [58]:
import pandas as pd
import numpy as np
# Datos de ejemplo 
ventas = pd.DataFrame({ 'fecha': pd.date_range('2024-01-01', periods=100, freq='D'), 'producto': np.random.choice(['Laptop', 'Mouse', 'Teclado'], 100), 'cantidad': np.random.randint(1, 10, 100), 'precio': np.random.uniform(10, 1000, 100) })

In [60]:
#conociendo datos
print(ventas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fecha     100 non-null    datetime64[ns]
 1   producto  100 non-null    object
 2   cantidad  100 non-null    int64
 3   precio    100 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 3.3+ KB
None

In [62]:
print(ventas.describe())

                     fecha    cantidad      precio
count                  100  100.000000  100.000000
mean   2024-02-19 12:00:00    4.750000  470.250108
min    2024-01-01 00:00:00    1.000000   27.669543
25%    2024-01-25 18:00:00    3.000000  219.434098
50%    2024-02-19 12:00:00    5.000000  453.752101
75%    2024-03-15 06:00:00    7.000000  679.402061
max    2024-04-09 00:00:00    9.000000  998.263474
std                    NaN    2.629956  276.703097

In [64]:
print(ventas.isnull().sum())

fecha       0
producto    0
cantidad    0
precio      0
dtype: int64

In [68]:
#nuevas variables
ventas['total']=ventas['cantidad']*ventas['precio']
ventas['mes']=ventas['fecha'].dt.month

In [70]:
#Preguntas de negocio
print('1. Cual es el producto mas vendido?')
print(ventas.groupby('producto')['cantidad'].sum().sort_values(ascending=False))

1. Cual es el producto mas vendido?
producto
Teclado    171
Laptop     160
Mouse      144
Name: cantidad, dtype: int64

In [72]:
#2. ingresos por mes
print('\n2.Cuales son los ingresos por mes?')
print(ventas.groupby('mes')['total'].sum())

2.Cuales son los ingresos por mes?
mes
1    76343.200899
2    63021.580379
3    71083.209926
4    28262.190154
Name: total, dtype: float64

In [74]:
#3ticket promedio
print('\n3.Cual es el ticket promedio por producto?')
print(ventas.groupby('producto')['total'].mean().round(2))

3.Cual es el ticket promedio por producto?
producto
Laptop     2814.69
Mouse      2488.91
Teclado    1998.20
Name: total, dtype: float64